---
interface Props {
  title: string;
}

import favicon from "../assets/dagadev_logo.webp";
const description =
  "I'm Diego, a Software Analyst and Developer based in Colombia. I have a strong background in designing and building web applications, leveraging modern technologies. My expertise extends to implementing scalable backend solutions and creating dynamic, user-friendly interfaces";
const { title } = Astro.props;
---

<!doctype html>
<html lang='en' data-theme='light'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/webp' href={favicon.src} />
    <meta name='generator' content={Astro.generator} />
    <meta name='author' content='Diego Garcia' />
    <meta name='keywords' content='Full Stack Developer, Software Developer, Web Developer, React, Node.js, PostgreSQL, TypeScript, Java' />
    <!-- HTML Meta Tags -->
    <title>Diego Garcia - Full Stack Developer</title>

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://dagadev.tech' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Diego Garcia - Full Stack Developer' />
    <meta
      property='og:description'
      content={description}
    />
    <meta
      property='og:image'
      content='https://opengraph.b-cdn.net/production/images/bb1d9e67-db42-47c4-8655-093e83a5acb2.png?token=Pec_PEPcrhLvIzHulwacyxyh-nUL3hUg2ka8B0Q_hV4&height=585&width=1141&expires=33268861964'
    />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='dagadev.tech' />
    <meta property='twitter:url' content='https://dagadev.tech' />
    <meta name='twitter:title' content='Diego Garcia - Full Stack Developer' />
    <meta
      name='twitter:description'
      content={description}
    />
    <meta
      name='twitter:image'
      content='https://opengraph.b-cdn.net/production/images/bb1d9e67-db42-47c4-8655-093e83a5acb2.png?token=Pec_PEPcrhLvIzHulwacyxyh-nUL3hUg2ka8B0Q_hV4&height=585&width=1141&expires=33268861964'
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <title>{title}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      href='https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'
      rel='stylesheet'
    />
    <script
      src='https://kit.fontawesome.com/a8f367ec01.js'
      crossorigin='anonymous'></script>
    <script src='https://unpkg.com/scrollreveal'></script>
  </head>
  <body class='container mx-auto'>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #13151a;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    overflow: visible;
    /* Debugging */
    /* outline: 1px red solid; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
  }

  a {
    font-family: "Fire Sans Condensed", sans-serif;
  }
</style>
